{% extends 'catalog/base.html' %}

{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>
    <div class="container py-3">

<div class="row row-cols-2">

<div class="col">

<form method="post">
  {% csrf_token %}
  <div style="width: 500px; margin: 20px, border: 1pb">
  <div class="mb-3">
    <label class="form-label">Имя</label>
  <input name="name" type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>
    <p>Почта</p>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">@</span>
  <input name="email" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group">
    <textarea name="message" class="form-control" aria-label="With textarea"></textarea>
  </div>

    <br/><button type="submit" class="btn btn-primary">Отправить</button>

    </div>
</form>

</div>


  <div class="col">
  <p>Здесь какой-то текст связанный с нашими контактными данными и местоположением. Может ещё объясняем как пройти проще к нащему магазину.</p></div>
  </div>
</div>
  {% endblock %}