{% extends 'catalog/base.html' %}
{%load my_tags %}
{% block content %}

    <div class="row row-cols-1 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ object.name }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ object.cost | rub }}</h1>
            <p class="list-unstyled mt-3 mb-4">
              {{ object.description }}
            </p>
            <p class="list-unstyled mt-3 mb-4">
              {% for version in actual_version %}
                {% if version.product == object %}
                  Активная версия: {{ version.name }}
                {% endif %}
              {% endfor %}
            </p>
            <img src="{% mediapath object.preview %}" class="img-thumbnail" alt="...">
          </div>
          {% if user.is_authenticated %}
          <div class="card-footer py-3">
            <a href="{% url 'catalog:edit_product' object.pk %}">Редактировать</a> |
            <a href="{% url 'catalog:delete_product' object.pk %}">Удалить</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

{% endblock %}
